<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/erro_404.css">

</head>
<body>
    <div class="container">
        <h2>Erro 404</h2>
        <p>A página que você está procurando não foi encontrada.</p>
        <a href="/">Voltar para Página Inicial</a>
    </div>
</body>
</html>
