<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../static/css/index.css">
    
</head>
<body>
    <div class="container">
        <h2>ENTRAR</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="error">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <input type="text" name="matricula" placeholder="MATRÍCULA" required><br>
            <input type="password" name="senha" placeholder="SENHA" required><br>
            <button type="submit">Entrar</button>
        </form>
        <p><a href="{{ url_for('esqueci_minha_senha') }}">Esqueci minha senha</a></p>
        <p><a href="{{ url_for('cadastrar_usuario') }}">CADASTRE-SE</a></p>
    </div>
</body>
</html>
