<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/painel_admin.css">


</head>
<body>
        <nav>
            <a href="/">Início</a> |
            <a href="/painel-admin">Painel Administrativo</a> |
            <a href="/relatorios">Relatórios</a> |
            <a href="/configuracoes-perfil">Configurações de Perfil</a> |
            <a href="/historico-pontos">Histórico de Pontos</a>
        </nav>

    <ul>
        <li><a href="/relatorios">Ver Relatórios</a></li>
        <li><a href="/">Voltar para Página Inicial</a></li>
    </ul>
    
    <div class="container">
        <h2>Painel Administrativo</h2>
        <p>Bem-vindo(a), coordenador(a)! Aqui você pode visualizar relatórios e gerenciar estagiários.</p>
    </div>
</body>
</html>
