<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Início</a> |
        <a href="/painel-admin">Painel Administrativo</a> |
        <a href="/relatorios">Relatórios</a> |
        <a href="/configuracoes-perfil">Configurações de Perfil</a> |
        <a href="/historico-pontos">Histórico de Pontos</a>
    </nav>
    
    <div class="container">
        <h2>Relatórios</h2>
        <p>Bem-vindo(a), estagiário(a)! Aqui você pode visualizar seus relatórios</p>
    </div>
</body>
</html>
